<footer style="min-height:300px; background-color:lightgrey; margin-top: 200px; padding-top: 60px;">
    <div class="container" style="display: flex; justify-content: space-between; padding-right: 100px; padding-left: 100px;">
        <div class="col-3 f_size18 bold nav_html" style="margin: 0; width: 150px;">
            <a href="#" style="color: #fff;" class="link">
                <img src="/assets/imgs/Flugzeug.png" alt="logo">
                Travel Guide
            </a>
        </div>
        <div class="link">
            <ul style="list-style: none">
                <li><a href="#" style="color: #fff;">Richtungen</a></li>
                <li><a href="#" style="color: #fff;">Über uns</a></li>
                <li><a href="#" style="color: #fff;">Kontakt</a></li>
                <li><a href="#" style="color: #fff;">Datenschutz</a></li>
            </ul>
            <a href="#">
                <button type="button" class="btn btn-outline-danger" style="width: 200px; margin-top: 5px;">Uns kontaktieren</button>
            </a>
            
        </div>

    </div>
</footer>