<div class="header header_r">
    <nav>
        <div class="container">
            <div class="row">
                <div class="col-3 f_size16 bold nav_html">
                    <a href=".#">
                        <img src="/assets/imgs/Flugzeug.png" alt="logo">
                        Travel Guide
                    </a>
                </div>
                <div class="col f_size15 nav_html">
                    <a href="#">Richtungen</a>
                </div>
                <div class="col f_size15 nav_html">
                    <a href="#">Über uns</a>
                </div>
                <div class="col f_size15 nav_html">
                    <a href="#">Kontakt</a>
                </div>
                <div class="col-2 f_size14 bold nav_html">
                    +49 16 14 852 96 74
                </div>
                <div class="col f_size14 bold nav_html">
                    <a href="#">
                        <div >
                        Uns kontaktieren
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>