.header_r {
    background-color: #273456;
    height: 120px;
    color: #fff;
    margin-bottom: 100px;
}

nav a{
   color:#fff;
   text-decoration: none;
}

.nav_html{
     margin-top: 44px;
 }

.buttom a{
    color: #fff;
}
 

